@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik&display=swap');

html {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}


* {
  box-sizing: border-box;
}

p { 
  font-family: 'Poppins', sans-serif;
}

/*default card*/

.container{
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.card {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
  width: 380px;
  height: 600px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%; 
    height: 40%;
    position: relative; 
  }
  
  .image-container .image {
    width: 100%;
    height: 100%; 
    position: relative; 
    border-radius: 5%;
    object-fit: cover; 
    border: 4px solid blue; 
  }

  .image-container-resized {
    width: 110%;
    position: relative;
    transition: all 0.7s ease-out;
    object-fit: cover; 
    margin: 0;
    padding: 0;
    min-height: 120vh;
    overflow: hidden;
  }

  @media screen and (min-width: 1023px){
    .image-container-resized {
      width: 500px;
      height: 800px;
    }
  }

  unfold-btn {
    border-radius: 50%;
    background-color: black;
  }
  
  span {
    color: gray;
  }

  /*expanded card*/

  .text-on-image{
    z-index: 100;
    color: white; 
    position: absolute;
    top: 60%;
    left: 10%;
    font-family: 'Rubik', sans-serif;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    transform-origin: bottom;
  }

  .text-on-image-header {
    font-size: 38px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }

  .comment-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute; 
    z-index: 100;
    color: white; 
    position: absolute;
    top: 70%;
    right: 10%;
   }

   .number-of-comments {
     padding-right: 5px;
   }

  .bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-90px); }
    100% { transform: translateY(0); }
}
  .close {
    z-index: 100;
    color: white; 
    position: absolute; 
    top: 5%;
    left: 15%;
    width: 32px;
    height: 32px;
  }

  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

